@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,100&family=Roboto&display=swap');

body {
    background: #ecf0f5;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Default sidebar styling */
.side-navbar {
    width: 180px;
    height: 106.5vh;
    position: absolute;
    margin-left: -300px;
    background-color: rgb(67 79 86);
    transition: 0.5s;
}

.my-container {
    transition: 0.4s;
}

.active-nav {
    margin-left: 0;
}

/* for main section */
.active-cont {
    margin-left: 180px;
}

#menu-btn {
    background-color: #100901;
    color: #fff;
    margin-left: -62px;
}



/* MY STLING */
.nav-link:hover {
    cursor: pointer;
}

.admin-side-links,
.admin-side-links>span {
    color: #B8C7CE !important;
    font-size: 12px;
}

.admin-side-links>i {
    height: 12px;
    width: 12px;
    margin-right: 5px;
}

.drop-li {
    margin-left: 20px;
    margin-top: 10px;
}

.drop-li>ul {
    margin-left: -20px;
}

.drop-li>ul>li {
    list-style-type: disc;

}


.side-navbar {
    font-family: 'Montserrat', sans-serif
}


.li-text {
    margin-left: 10px;
}

.name-status {
    margin-left: 7px;
}

.name-status>span {
    font-size: 12px;
    font-weight: 700;
}

.name-status>div {
    font-size: 11px;
}



/* Top Content of every page */
.user-image {
    height: 40px;
    width: 40px;
}

.password-row {
    font-family: 'Montserrat', sans-serif;
    margin-left: 25px;
    font-size: 26px;
}

.password-control {
    font-family: 'Montserrat', sans-serif;
}

.right-content {
    display: flex;
    margin-top: 7px;
    font-family: 'Montserrat', sans-serif;
}

.right-content>i {
    margin-right: 5px;
}

.right-content>span {
    font-size: 12px;
    margin-top: 3px;
    color: #444444;
}

.right-content>li {
    font-size: 12px;
    color: #777777;
    margin-left: 5px;
    margin-top: 3px;
    list-style-type: '>\00a0';
}

.table-styling {
    background-color: #fff;
    box-shadow: 1px 1px 15px #d2d6de;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

.inside-form-styling {
    background-color: #fff;
    box-shadow: 1px 1px 5px #d2d6de;
    height: 70vh;
}

@media only screen and (max-width:767px) {
    .right-content {
        font-family: 'Montserrat', sans-serif;
        margin-top: 0px;
        margin-bottom: 4px;
    }

    .right-content>i {
        margin-top: 5px;
        font-size: 15px;
        margin-right: 1px;
    }

    .right-content>span {
        font-size: 15px;
    }

    .right-content>li {
        font-size: 10px;
        margin-top: 8px;
    }

    .password-row {
        font-family: 'Montserrat', sans-serif;
        margin-left: 0;
        font-size: 20px;
    }

    .password-control {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
    }

    table {
        font-size: 10px;
    }

    .borrow-table {
        order: 2;
    }

    .search-book {
        order: 1;
    }
}

@media only screen and (max-width: 500px) {
    .nav-dp {
        display: none;
    }
}

@media only screen and (max-width: 350px) {
    table {
        font-size: 6px;
    }
}

/* Common styling ends here */

/* Login Sign up form styling */


.login-div {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 60px 100px 60px 100px;
    box-shadow: 1px 1px 5px #808080;
    height: 80vh;

}

.top-content {
    display: flex;
    justify-content: space-between;
    order: 1;
}

.top-content>h3 {
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;
    font-size: 28px;
    font-weight: lighter;
}

.top-content>span {
    padding-top: 30px;
}

.top-content>span>i {
    color: gray;
    margin-left: 5px;
    padding: 5px 10px 9px 10px;
    border: 1px solid #d2d6de;
    border-radius: 40px;
    transition: 0.3s;
}

.top-content>span>i:hover {
    color: white;
    background-color: gray;
    margin-left: 5px;
    padding: 5px 10px 9px 10px;
    border: 1px solid gray;
    border-radius: 40px;
    transition: 0.3s;
}

.sign-in {
    padding: 20px 50px 20px 50px;
}

.signin-form {
    margin-top: 20px;
}

.signin-form>label {
    padding: 10px 0px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.signin-form>input {
    padding-left: 10px;
    height: 50px;
    width: 100%;
    display: block;
    background-color: #d1dfe7;
    border: none;
    border-radius: 2px;
}


.signin-form>input:focus {
    border: none;
    outline: none;
}

.signin-form>button {
    margin-top: 25px;
    height: 50px;
    background-image: linear-gradient(to right, #434F56, #375d74);
    border: none;
    border-radius: 2px;
    color: white;
    transition: 0.3s;
    width: 100%;
}

.signin-form>button:hover {
    width: 100%;
    height: 50px;
    background: #48a0a6;
    border: none;
    border-radius: 2px;
    color: white;
    transition: 0.3s;
}

.form-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.wel-div {
    background-image: linear-gradient(to bottom right, #434F56, #375d74);
    display: flex;
    order: 2;
    flex-direction: column;
    align-items: center;
}

.wel-div>h2 {
    margin-top: 35%;
    font-size: 32px;
    font-weight: 900;
    color: white;
}

.wel-div>span {
    border: 1px solid white;
    padding: 6px 18px 10px 18px;
    border-radius: 50px;
    color: white;
    transition: 0.3s;
}

.wel-div>span:hover {
    border: 1px solid white;
    background-color: white;
    padding: 6px 18px 10px 18px;
    border-radius: 50px;
    color: black;
    transition: 0.3s;
}

.slide1 {
    animation-timing-function: ease;
    position: relative;
    animation: slide1 5s;

}

.slide2 {
    animation-timing-function: linear;
    position: relative;
    animation: slide2 5s;
}

@keyframes slide1 {
    from {
        left: 50%;
    }

    to {
        left: 0;
    }
}

@keyframes slide2 {
    from {
        right: 50%;
    }

    to {
        right: 0;
    }
}

@media(max-width:950px) {
    .sign-in {
        padding: 20px;
    }

    .wel-div>h2 {
        margin-top: 50%;
        font-size: 25px;
    }

    .wel-div>p {
        font-size: 14px;
    }

    .wel-div>span {
        padding: 3px 9px 5px 9px;
    }
}

@media(max-width:767px) {
    .login-div {
        display: flex;
        justify-content: flex-end;
        position: relative;
        align-content: center;
        flex-direction: column-reverse;
        margin: 20px 10px 0 10px;
        box-shadow: 20px #777777;
        height: 90vh;
    }

    .wel-div {
        order: 1;
    }

    .wel-div>h2 {
        font-size: 25px;
        margin-top: 20px;
    }

    .wel-div>span {
        margin-bottom: 10px;
        font-size: 15px;
    }

    .wel-div>p {
        font-size: 15px;
    }

    .sign-in {
        order: 2;
    }
}


/* Sign up */
.signup-div {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 60px 100px 60px 100px;
    box-shadow: 1px 1px 5px #808080;
    height: 80vh;
}

.welcome-div {
    background-image: linear-gradient(to bottom right, #434F56, #375d74);
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
}

.welcome-div>h2 {
    margin-top: 35%;
    font-size: 32px;
    font-weight: 900;
    color: white;
}

.welcome-div>span {
    border: 1px solid white;
    padding: 6px 18px 10px 18px;
    border-radius: 50px;
    color: white;
    transition: 0.3s;
}

.welcome-div>span:hover {
    border: 1px solid white;
    background-color: white;
    padding: 6px 18px 10px 18px;
    border-radius: 50px;
    color: black;
    transition: 0.3s;
}

.sign-up {
    padding: 20px 40px;
    order: 2;
}

.top-signup-content {
    display: flex;
    justify-content: space-between;

}


.top-signup-content>h3 {
    font-size: 28px;
    font-weight: lighter;
}

.top-signup-content>span>i {
    color: gray;
    margin-left: 5px;
    padding: 5px 10px 9px 10px;
    border: 1px solid #d2d6de;
    border-radius: 40px;
    transition: 0.3s;
}

.top-signup-content>span>i:hover {
    color: white;
    background-color: gray;
    margin-left: 5px;
    padding: 5px 10px 9px 10px;
    border: 1px solid gray;
    border-radius: 40px;
    transition: 0.3s;
}

.signup-form {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.signup-form>label {
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    display: none;
}

.signup-form>input {
    padding-left: 10px;
    margin: 3px;
    height: 50px;
    width: 100%;
    background-color: #d1dfe7;
    border: none;
    border-radius: 2px;
}

.signin-form>input::placeholder {
    margin-left: 5px;
}

.signup-form>input:focus {
    border: none;
    outline: none;
}

.signup-form>button {
    margin: 5px 3px 0px 3px;
    height: 50px;
    background-image: linear-gradient(to right, #434F56, #375d74);
    border: none;
    border-radius: 2px;
    color: white;
    transition: 0.3s;
    width: 100%;
}

.signup-form>button:hover {
    width: 100%;
    height: 50px;
    background: #48a0a6;
    border: none;
    border-radius: 2px;
    color: white;
    transition: 0.3s;
}

.slide3 {
    animation-timing-function: linear;
    position: relative;
    animation: slide3 5s;
}

.slide4 {
    animation-timing-function: linear;
    position: relative;
    animation: slide4 5s;
}

@keyframes slide3 {
    from {
        left: 50%;
    }

    to {
        left: 0;
    }
}

@keyframes slide4 {
    from {
        right: 50%;
    }

    to {
        right: 0;
    }
}

@media(max-width:950px) {
    .sign-up {
        padding: 20px;
    }

    .welcome-div>h2 {
        margin-top: 50%;
        font-size: 25px;
    }

    .welcme-div>p {
        font-size: 14px;
    }

    .welcome-div>span {
        padding: 3px 9px 5px 9px;
    }
}

@media(max-width:767px) {
    .signup-div {
        display: flex;
        justify-content: flex-end;
        position: relative;
        align-content: center;
        flex-direction: column-reverse;
        margin: 20px 10px 0 10px;
        box-shadow: 20px #777777;
        height: 90vh;
    }

    .welcome-div>h2 {
        font-size: 25px;
        margin-top: 20px;
    }

    .welcome-div>span {
        margin-bottom: 10px;
        font-size: 15px;
    }

    .welcome-div>p {
        font-size: 15px;
    }

    .welcome-div {
        order: 2;
    }

    .sign-up {
        order: 1;
    }
}